


#jumbotron {
    padding-top: 2rem;
  background-color: #e2edff;
}
#project{
    background-color: #e2edff;
}

section{
    padding-top: 5;
}

.contact .row .map {
    flex:1 1 45rem;
    width:100%;
    object-fit: cover;
}

